@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <h2>I can't believe it actually works! &#x1F60A;</h2>
    <p>This is a basic, straight out of the box ASP.NET Core app running on Heroku. It was seriously easy to set up and deploy. It's using the <a href="https://elements.heroku.com/buildpacks/jincod/dotnetcore-buildpack">dotnet core buildpack by jincod</a>. I also found <a href="https://medium.com/ingenious/net-core-and-heroku-74e6b41e8c64">this article on Medium</a> by <a href="https://medium.com/@@iamcherta">Gabriel Chertok</a> to be useful.</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
